<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
</head>
<body>
    <h1>Welcome to the Anime app!</h1>
    <p>An app for collecting your fav Anime</p>
    <a href="/animes">Anime Top</a>
    <a href="/animes/new">Add new anime</a>
</body>
</html>