<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits Index</title>
  </head>
  <body>
    <h1>All Animes</h1>
    <a href="/animes/new">Add new anime</a>
    <ul>
        <% animes.forEach( anime => { %>
          <li><%= anime.name %></li>
        <% }); %>
      </ul>
  </body>
</html>
