<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= anime.name %></title>
  </head>
  <body>
    <h1><%= anime.name %></h1>
    <% if (anime.isReadyToWatch) { %>
        <p>This Anime is ready to Watch!</p>
    <% } else { %>
        <p>This Anime is not ready to Watch!</p>
    <% } %>
    <a href="/animes/">Back to Anime List</a>

  </body>
</html>
